<div class="admin-dashboard-container">
  <div class="admin-header">
    <h1 class="admin-title">Panel de Administración</h1>
  </div>
  
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
